/*empieza generales*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html body {
background-color: black;
}

html {
	font-family: Arial;
	
	 p {
	color: white;
}
h1 {
	color: white;
}

h3 {
	color: white;
}

ul {
	color: white;
}

}

/*termina generales*/