/*empieza historia*/
.historia {
	background-color: black;
	padding-top: 70px;
}


.historia2 p {
	display: flex;   
	flex-direction: row; 
   justify-content: flex-start;
}

.historia3 {
	text-align: center;
}
/*termina historia*/