/*empieza noticias*/
.noticias h1{
	height: 50px;
	width: 50px;
	text-align: center;
}

.carouselNoticias p {
color: black;
font-family: arial;
font-size: 20px;

	h5 {
	color: black;	
}
}

/*termina noticias*/