/*empieza shows*/
.tituloShows {
    font-family: Franklin Gothic Heavy;
    font-size: 50px;
    padding: 2rem;
    text-align: center

}


.shows1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 2rem;

	img {
	height: 400px;
	width: 400px;
}
	div {
	margin-bottom: 50px;
	margin-left: 50px;
	/*border: 2px solid red;*/
}

}


.shows2 {
	display: flex;
	flex: wrap;
	flex-direction: column;
	justify-content: space-between;	

	div {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: row;
}
	h1 {
	padding-left: 200px;
	padding-top: 150px;
}
	h2 {
		padding-left: 150px;
		padding-top: 150px;
		color: white;
		font-size: 30px;
	}
}
/*termina shows*/